<!-- Partial de FOOTER GLOBAL  -->
<footer class="footer--home">
    <div class="pie-footer">
        <div class="containers-footer">
            <p class="support"><a href="/product/productAdd">Support</a> </p>
        </div>
        <div class="containers-footer">
            <i class="fa-brands fa-facebook"></i>
        </div>
        <div class="containers-footer">
            <i class="fa-brands fa-instagram"></i>
        </div>
        <div class="containers-footer">
            <i class="fa-brands fa-twitter"></i>
        </div>
        <div class="copy">
            <a href="/product/productEdit">«Copyright 2022 CompuMundoHyperMegaRed»</a>
        </div>
    </div>
</footer>