<!DOCTYPE html>
<html lang="en">

<head>

  <%- include('./partials/links.ejs') %>

</head>

<!-- Partial de HEADER -->
<%- include('./partials/header.ejs') %>

  <body>
    <!-- Aqui empieza la barra de navegacion -->

    <div class="container">
      <main class="main">
        <section class="section">
          <div class="section-div">
            <h1 class="section-div-h1">
              Tienda online de Laptops <br> encuentra aca los mejores precios en las
              mejores marcas para gaming
            </h1>
          </div>
        </section>
        <div class="banner--home">
          <!-- <img class="imagen-banner" src="https://storage-asset.msi.com/global/picture/news/2019/nb/gs75-20190107-1.jpg" alt="banner--home"> -->
        </div>
        </section>

        <section class="all-productos">
          <h1 class="conoce">Conoce nuestros productos</h1>
          <div class="productos-filtro">

            <div class="filtro-home mensaje">AQUI VA UN FILTRO</div>

            <div class="productos">

              <article class="articulo-main">
                <div>
                  <img src="https://assets.nvidia.partners/images/png/asus-rog-g14.png" alt="laptop"
                    class="imagen-producto" />
                  <h2 class="descripcion">ASUS ROG GA401QM-211.ZG14 notebook 1</h2>
                  <div class="flechas">
                    <div class="flechas--descripcion">
                      <i class="fa-solid fa-angle-right"></i>
                      <p class="descripcion--producto">GPU: GeForce RTX 3060</p>
                    </div>

                    <div class="flechas--descripcion">
                      <i class="fa-solid fa-angle-right"></i>
                      <p class="descripcion--producto">Display: 14" | 1920 x 1080</p>
                    </div>

                    <div class="flechas--descripcion">
                      <i class="fa-solid fa-angle-right"></i>
                      <p class="descripcion--producto">CPU: Ryzen 9 5900HS</p>
                    </div>

                    <div class="flechas--descripcion">
                      <i class="fa-solid fa-angle-right"></i>
                      <p class="descripcion--producto">Memory: 16GB DDR4-SDRAM</p>
                    </div>

                    <div class="flechas--descripcion">
                      <i class="fa-solid fa-angle-right"></i>
                      <p class="descripcion--producto">Storage: 1 TB SSD</p>
                    </div>

                    <div class="precio--boton">
                      <p class="precio">$1.317</p>
                      <div class="boton--carrito">
                        <input class="boton--" type="button" value="Agregar al carrito">
                        <i class="fa-solid fa-cart-shopping"></i>
                      </div>
                    </div>

                  </div>
                </div>
              </article>

              <article class="articulo-main">
                <div>
                  <img src="https://assets.nvidia.partners/images/png/asus-rog-g14.png" alt="laptop"
                    class="imagen-producto" />
                  <h2 class="descripcion">ASUS ROG GA401QM-211.ZG14 notebook 1</h2>
                  <div class="flechas">
                    <div class="flechas--descripcion">
                      <i class="fa-solid fa-angle-right"></i>
                      <p class="descripcion--producto">GPU: GeForce RTX 3060</p>
                    </div>

                    <div class="flechas--descripcion">
                      <i class="fa-solid fa-angle-right"></i>
                      <p class="descripcion--producto">Display: 14" | 1920 x 1080</p>
                    </div>

                    <div class="flechas--descripcion">
                      <i class="fa-solid fa-angle-right"></i>
                      <p class="descripcion--producto">CPU: Ryzen 9 5900HS</p>
                    </div>

                    <div class="flechas--descripcion">
                      <i class="fa-solid fa-angle-right"></i>
                      <p class="descripcion--producto">Memory: 16GB DDR4-SDRAM</p>
                    </div>

                    <div class="flechas--descripcion">
                      <i class="fa-solid fa-angle-right"></i>
                      <p class="descripcion--producto">Storage: 1 TB SSD</p>
                    </div>

                    <div class="precio--boton">
                      <p class="precio">$1.317</p>
                      <div class="boton--carrito">
                        <input class="boton--" type="button" value="Agregar al carrito">
                        <i class="fa-solid fa-cart-shopping"></i>
                      </div>
                    </div>

                  </div>
                </div>
              </article>

              <article class="articulo-main">
                <div>
                  <img src="https://assets.nvidia.partners/images/png/asus-rog-g14.png" alt="laptop"
                    class="imagen-producto" />
                  <h2 class="descripcion">ASUS ROG GA401QM-211.ZG14 notebook 1</h2>
                  <div class="flechas">
                    <div class="flechas--descripcion">
                      <i class="fa-solid fa-angle-right"></i>
                      <p class="descripcion--producto">GPU: GeForce RTX 3060</p>
                    </div>

                    <div class="flechas--descripcion">
                      <i class="fa-solid fa-angle-right"></i>
                      <p class="descripcion--producto">Display: 14" | 1920 x 1080</p>
                    </div>

                    <div class="flechas--descripcion">
                      <i class="fa-solid fa-angle-right"></i>
                      <p class="descripcion--producto">CPU: Ryzen 9 5900HS</p>
                    </div>

                    <div class="flechas--descripcion">
                      <i class="fa-solid fa-angle-right"></i>
                      <p class="descripcion--producto">Memory: 16GB DDR4-SDRAM</p>
                    </div>

                    <div class="flechas--descripcion">
                      <i class="fa-solid fa-angle-right"></i>
                      <p class="descripcion--producto">Storage: 1 TB SSD</p>
                    </div>

                    <div class="precio--boton">
                      <p class="precio">$1.317</p>
                      <div class="boton--carrito">
                        <input class="boton--" type="button" value="Agregar al carrito">
                        <i class="fa-solid fa-cart-shopping"></i>
                      </div>
                    </div>

                  </div>
                </div>
              </article>

              </article>

              <article class="articulo-main">
                <div>
                  <img src="https://assets.nvidia.partners/images/png/asus-rog-g14.png" alt="laptop"
                    class="imagen-producto" />
                  <h2 class="descripcion">ASUS ROG GA401QM-211.ZG14 notebook 1</h2>
                  <div class="flechas">
                    <div class="flechas--descripcion">
                      <i class="fa-solid fa-angle-right"></i>
                      <p class="descripcion--producto">GPU: GeForce RTX 3060</p>
                    </div>

                    <div class="flechas--descripcion">
                      <i class="fa-solid fa-angle-right"></i>
                      <p class="descripcion--producto">Display: 14" | 1920 x 1080</p>
                    </div>

                    <div class="flechas--descripcion">
                      <i class="fa-solid fa-angle-right"></i>
                      <p class="descripcion--producto">CPU: Ryzen 9 5900HS</p>
                    </div>

                    <div class="flechas--descripcion">
                      <i class="fa-solid fa-angle-right"></i>
                      <p class="descripcion--producto">Memory: 16GB DDR4-SDRAM</p>
                    </div>

                    <div class="flechas--descripcion">
                      <i class="fa-solid fa-angle-right"></i>
                      <p class="descripcion--producto">Storage: 1 TB SSD</p>
                    </div>

                    <div class="precio--boton">
                      <p class="precio">$1.317</p>
                      <div class="boton--carrito">
                        <input class="boton--" type="button" value="Agregar al carrito">
                        <i class="fa-solid fa-cart-shopping"></i>
                      </div>
                    </div>

                  </div>
                </div>
              </article>

              </article>

              <article class="articulo-main">
                <div>
                  <img src="https://assets.nvidia.partners/images/png/asus-rog-g14.png" alt="laptop"
                    class="imagen-producto" />
                  <h2 class="descripcion">ASUS ROG GA401QM-211.ZG14 notebook 1</h2>
                  <div class="flechas">
                    <div class="flechas--descripcion">
                      <i class="fa-solid fa-angle-right"></i>
                      <p class="descripcion--producto">GPU: GeForce RTX 3060</p>
                    </div>

                    <div class="flechas--descripcion">
                      <i class="fa-solid fa-angle-right"></i>
                      <p class="descripcion--producto">Display: 14" | 1920 x 1080</p>
                    </div>

                    <div class="flechas--descripcion">
                      <i class="fa-solid fa-angle-right"></i>
                      <p class="descripcion--producto">CPU: Ryzen 9 5900HS</p>
                    </div>

                    <div class="flechas--descripcion">
                      <i class="fa-solid fa-angle-right"></i>
                      <p class="descripcion--producto">Memory: 16GB DDR4-SDRAM</p>
                    </div>

                    <div class="flechas--descripcion">
                      <i class="fa-solid fa-angle-right"></i>
                      <p class="descripcion--producto">Storage: 1 TB SSD</p>
                    </div>

                    <div class="precio--boton">
                      <p class="precio">$1.317</p>
                      <div class="boton--carrito">
                        <input class="boton--" type="button" value="Agregar al carrito">
                        <i class="fa-solid fa-cart-shopping"></i>
                      </div>
                    </div>

                  </div>
                </div>
              </article>

              <article class="articulo-main">
                <div>
                  <img src="https://assets.nvidia.partners/images/png/asus-rog-g14.png" alt="laptop"
                    class="imagen-producto" />
                  <h2 class="descripcion">ASUS ROG GA401QM-211.ZG14 notebook 1</h2>
                  <div class="flechas">
                    <div class="flechas--descripcion">
                      <i class="fa-solid fa-angle-right"></i>
                      <p class="descripcion--producto">GPU: GeForce RTX 3060</p>
                    </div>

                    <div class="flechas--descripcion">
                      <i class="fa-solid fa-angle-right"></i>
                      <p class="descripcion--producto">Display: 14" | 1920 x 1080</p>
                    </div>

                    <div class="flechas--descripcion">
                      <i class="fa-solid fa-angle-right"></i>
                      <p class="descripcion--producto">CPU: Ryzen 9 5900HS</p>
                    </div>

                    <div class="flechas--descripcion">
                      <i class="fa-solid fa-angle-right"></i>
                      <p class="descripcion--producto">Memory: 16GB DDR4-SDRAM</p>
                    </div>

                    <div class="flechas--descripcion">
                      <i class="fa-solid fa-angle-right"></i>
                      <p class="descripcion--producto">Storage: 1 TB SSD</p>
                    </div>

                    <div class="precio--boton">
                      <p class="precio">$1.317</p>
                      <div class="boton--carrito">
                        <input class="boton--" type="button" value="Agregar al carrito">
                        <i class="fa-solid fa-cart-shopping"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </article>

              <article class="articulo-main">
                <div>
                  <img src="https://assets.nvidia.partners/images/png/asus-rog-g14.png" alt="laptop"
                    class="imagen-producto" />
                  <h2 class="descripcion">ASUS ROG GA401QM-211.ZG14 notebook 1</h2>
                  <div class="flechas">
                    <div class="flechas--descripcion">
                      <i class="fa-solid fa-angle-right"></i>
                      <p class="descripcion--producto">GPU: GeForce RTX 3060</p>
                    </div>

                    <div class="flechas--descripcion">
                      <i class="fa-solid fa-angle-right"></i>
                      <p class="descripcion--producto">Display: 14" | 1920 x 1080</p>
                    </div>

                    <div class="flechas--descripcion">
                      <i class="fa-solid fa-angle-right"></i>
                      <p class="descripcion--producto">CPU: Ryzen 9 5900HS</p>
                    </div>

                    <div class="flechas--descripcion">
                      <i class="fa-solid fa-angle-right"></i>
                      <p class="descripcion--producto">Memory: 16GB DDR4-SDRAM</p>
                    </div>

                    <div class="flechas--descripcion">
                      <i class="fa-solid fa-angle-right"></i>
                      <p class="descripcion--producto">Storage: 1 TB SSD</p>
                    </div>

                    <div class="precio--boton">
                      <p class="precio">$1.317</p>
                      <div class="boton--carrito">
                        <input class="boton--" type="button" value="Agregar al carrito">
                        <i class="fa-solid fa-cart-shopping"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </article>

              <article class="articulo-main">
                <div>
                  <img src="https://assets.nvidia.partners/images/png/asus-rog-g14.png" alt="laptop"
                    class="imagen-producto" />
                  <h2 class="descripcion">ASUS ROG GA401QM-211.ZG14 notebook 1</h2>
                  <div class="flechas">
                    <div class="flechas--descripcion">
                      <i class="fa-solid fa-angle-right"></i>
                      <p class="descripcion--producto">GPU: GeForce RTX 3060</p>
                    </div>

                    <div class="flechas--descripcion">
                      <i class="fa-solid fa-angle-right"></i>
                      <p class="descripcion--producto">Display: 14" | 1920 x 1080</p>
                    </div>

                    <div class="flechas--descripcion">
                      <i class="fa-solid fa-angle-right"></i>
                      <p class="descripcion--producto">CPU: Ryzen 9 5900HS</p>
                    </div>

                    <div class="flechas--descripcion">
                      <i class="fa-solid fa-angle-right"></i>
                      <p class="descripcion--producto">Memory: 16GB DDR4-SDRAM</p>
                    </div>

                    <div class="flechas--descripcion">
                      <i class="fa-solid fa-angle-right"></i>
                      <p class="descripcion--producto">Storage: 1 TB SSD</p>
                    </div>

                    <div class="precio--boton">
                      <p class="precio">$1.317</p>
                      <div class="boton--carrito">
                        <input class="boton--" type="button" value="Agregar al carrito">
                        <i class="fa-solid fa-cart-shopping"></i>
                      </div>
                    </div>

                  </div>
                </div>
              </article>
            </div>
          </div>
          <p class="mensaje">AQUI IRIA UN 'LOAD MORE'</p>

      </main>
    </div>

    <!-- Partial de FOOTER -->

    <%- include('./partials/footer.ejs') %>



















      <!-- Aqui esta el link del archivo Js del front end  -->

      <script src="/js/script.js"></script>
  </body>

</html>
<!-- LINK IMAGEN BANNER https://www.gamerfocus.co/wp-content/uploads/2019/09/Banner-facebook030919.jpg -->