<!DOCTYPE html>
<html lang="en">
  <head>
    <script
      src="https://kit.fontawesome.com/88b000fcfe.js"
      crossorigin="anonymous"
    ></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
      href="https://fonts.googleapis.com/css2?family=Akshar&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet">

    <meta charset="UTF-8" >
    <meta http-equiv="X-UA-Compatible" content="IE=edge" >
    <meta name="viewport" content="width=device-width, initial-scale=1.0" >

    <img src="\public\images\logo.jpg">
     
    <title>Login</title>
    <link rel="stylesheet" href="/css/styles.css" >
  </head>
  <body class="cuentas">
    <p>
      <a class="pagina_inicio" href="/">Inicio</a>
    </p>
    <section>
      <h1>Ingresar</h1><br>
      <article class="formulario">
        
              
            <form action="/ingreso.html" method="post">
            
              <div >
                <label for="Email">Usuario</label>
                <input class="entradas" type="text" name="Email" placeholder="usuario@ejemplo.com" required>
              </div>
              
              <div>
                <label for="Contraseña">Contraseña</label>
                <input class="entradas" type="password" name="Contraseña" required>
              </div>
              <div class="rec_pass">
                <label id="rp2" for="rec_Usuario">Guardar contraseña</label>
                <input id="rp1" type="checkbox" name="rec_Usuario" value="Recordar">
              </div>
              <div class="boton_ingresar">
                <button action="submit">Continuar</button>
              </div>
      </article>        
              <div>
                ¿Aun no tienes una cuenta?
                <a href="registro.html">Creá una aquí</a>
              </div>
          
          </form>
      </section>  
  </body>
</html>
