<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/detallesStyle.css" />
    <script
      src="https://kit.fontawesome.com/88b000fcfe.js"
      crossorigin="anonymous"></script>
    <title>Compumundo Hypermegared</title>
  </head>
  <header class="header">
      <nav class="nav">
        <a href="#" class="logo nav-link nav-menu-item"
          >COMPUMUNDOHYPERMEGARED <i class="fa-solid fa-laptop-file"></i>
        </a>
        <!-- Aqui ponemos el logo de fontawesome, creando un boton con una clase nav-toggle que refiere a menu hamburguesa -->
        <button class="nav-toggle">
          <i class="fa-solid fa-bars"></i>
        </button>
        <ul class="nav-menu">
          <li class="nav-menu-item">
            <a href="/login" class="nav-menu-link nav-link">Login</a>
          </li>
          <li class="nav-menu-item">
            <a href="/registro" class="nav-menu-link nav-link">Registro</a>
          </li>
          <li class="nav-menu-item">
            <a href="/productDetail" class="nav-menu-link nav-link"
              >Product Detail</a
            >
          </li>
          <li class="nav-menu-item">
            <a href="/carrito" class="nav-menu-link nav-link"
              >Carrito de compras</a
            >
          </li>
        </ul>
      </nav>
    </header>
    <!-- fin del nav -->
    <!-- comienzo articulo -->
    <div class="MainColNopaddRela">
        <div class="colWrapper">
            <div class="imgArticleWrapper">
                <div class="imgArticleCont">
                    <div class="imgProductCont">
                      <img src="images/Notebook_Gamer_AORUS_KD_15.6.jpg" alt="" class="imgProduct">
                    </div>
                    <div class="imgThumbCarr">
                        <!-- aca iria tipo carrusel -->
                    </div>
                </div>

            </div>
            <div class="prodDescWrapper">
                <div class="prodTitle">
                    <h1>Notebook Gamer AORUS KD 15.6" Core I7 11800H 16GB (2x8GB) 512GB SSD NVMe RTX 3060 240Hz W11</h1>
                </div>
                <div class="prodPriceCont">
                    <p>$340.000</p>
                    <p>Precio especial</p>
                </div>

            </div>
        </div>

    </div>
    <p>Soy el detalle de producto!</p>
  </body>
</html>
