<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <script src="https://kit.fontawesome.com/88b000fcfe.js" crossorigin="anonymous"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Akshar&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
    rel="stylesheet" />
  <link
    href="https://fonts.googleapis.com/css2?family=Akshar&family=Changa:wght@200&family=Encode+Sans+SC:wght@100&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
    rel="stylesheet" />
  <link href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="/css/styles.css" />
  <title>Productos</title>
</head>

<body>
  <!-- Partial de HEADER -->
  <%- include('./partials/header.ejs') %>


    <div class="contenedor-shop">
      <div class="image">
        <img src="https://assets.nvidia.partners/images/png/acer-triton-30.png" alt="acer-triton-30" />
        <h4>
          Acer Predator Triton 300 SE GeForce RTX 3060, 14", Intel Core i7 11th
          Gen, 16GB DDR4, 512GB SSD
        </h4>
        <h3>u$s 1.500,00</h3>
        <a class="sumar-carrito cart1" href="#">Agregar al carrito</a>
      </div>
      <div class="image">
        <img src="https://assets.nvidia.partners/images/png/alienware-m15-30.png" alt="alienware-m15-30" />
        <h4>
          Alienware m15 R4 RTX 3070, 15.6", Intel Core i7 10870H, 16GB DDR4, 1TB
          SSD
        </h4>
        <h3>u$s 1.700,00</h3>
        <a class="sumar-carrito cart2" href="#">Agregar al carrito</a>
      </div>
      <div class="image">
        <img src="https://assets.nvidia.partners/images/png/omen-15-30.png" alt="omen-15-30" />
        <h4>
          4HP OMEN 15 RTX 3070, 15.6", Intel Core i7, 16GB DDR4, 512GB SSD
        </h4>
        <h3>u$s 1.799,00</h3>
        <a class="sumar-carrito cart3" href="#">Agregar al carrito</a>
      </div>
      <div class="image">
        <img src="https://assets.nvidia.partners/images/png/katana-gf66.png" alt="katana-gf66" />
        <h4>MSI Gaming GF66 11UD-002 Katana</h4>
        <h3>u$s 799,00</h3>
        <a class="sumar-carrito cart4" href="#">Agregar al carrito</a>
      </div>
    </div>

    <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>

    <!-- Partial de FOOTER -->

    <%- include('./partials/footer.ejs') %>


</body>



</html>