<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/detallesStyle.css" />
    <script
      src="https://kit.fontawesome.com/88b000fcfe.js"
      crossorigin="anonymous"></script>
    <title>Compumundo Hypermegared</title>
  </head>
  <header class="header">
      <nav class="nav">
        <a href="#" class="logo nav-link nav-menu-item"
          >COMPUMUNDOHYPERMEGARED <i class="fa-solid fa-laptop-file"></i>
        </a>
        <!-- Aqui ponemos el logo de fontawesome, creando un boton con una clase nav-toggle que refiere a menu hamburguesa -->
        <button class="nav-toggle">
          <i class="fa-solid fa-bars"></i>
        </button>
        <ul class="nav-menu">
          <li class="nav-menu-item">
            <a href="/login" class="nav-menu-link nav-link">Login</a>
          </li>
          <li class="nav-menu-item">
            <a href="/registro" class="nav-menu-link nav-link">Registro</a>
          </li>
          <li class="nav-menu-item">
            <a href="/productDetail" class="nav-menu-link nav-link"
              >Product Detail</a
            >
          </li>
          <li class="nav-menu-item">
            <a href="/carrito" class="nav-menu-link nav-link"
              >Carrito de compras</a
            >
          </li>
        </ul>
      </nav>
    </header>
    <!-- fin del nav -->
    <!-- comienzo articulo -->
    <div class="MainColNopaddRela">
        <div class="colWrapper">
            <div class="imgArticleWrapper">
                <div class="imgArticleCont">

                    <div class="imgProductCont">
                      <img src="images/Notebook_Gamer_AORUS_KD_15.6.jpg" alt="" class="imgProduct">
                    </div>
                    <div class="imgThumbCarr">
                        <!-- aca iria tipo carrusel -->
                    </div>
                </div>

            </div>
            <div class="prodDescWrapper">
                <div class="prodTitle">
                    <h1>Notebook Gamer AORUS KD 15.6" Core I7 11800H 16GB (2x8GB) 512GB SSD NVMe RTX 3060 240Hz W11</h1>
                </div>
                <div class="prodPriceCont">
                    <p>$340.000</p>
                    <p>Precio especial</p>
                </div>
            </div>
            <div class="buttonSumarCartWrap">
                <div class="buttonSumarCartCont">
                  <button id="buttonSumarCart">
                    <span class="buttonSumarCartText">
                      SUMAR AL CARRITO
                    </span>
                  </button>
                </div>
            </div>  

            <div class="especWrapper">
                <div class="especificaciones">
                    <p id="espec"> ESPECIFICACIONES</p>
                </div>
            </div>

            <div class="caractWrapper">
              <div class="caractCont">
                <p id="caractGeneralTit">CARACTERISTICAS GENERALES</p>

                <div class="caractEspec">
                  <span>Color</span>
                  <span>Gris Oscuro</span>
                </div>

                <div class="caractEspec">
                  <span>Tipo De Cpu</span>
                  <span>Intel</span>
                </div>

                <div class="caractEspec">
                  <span>Tipo De Gpu</span>
                  <span>nVidia GeForce</span>
                </div>

                <div class="caractEspec">
                  <span>Tipo</span>
                  <span>Notebook</span>
                </div>

                <div class="caractEspec">
                  <span>Bateria Extraible</span>
                  <span>No</span>
                </div>

                <div class="caractEspec">
                  <span>Modelo Cpu</span>
                  <span>11800H</span>
                </div>

                <div class="caractEspec">
                  <span>Modelo Gpu</span>
                  <span>RTX 3060</span>
                </div>

                <div class="caractEspec">
                  <span>Memoria Gpu</span>
                  <span>6gb</span>
                </div>

                <div class="caractEspec">
                  <span>Lector De Huellas</span>
                  <span>No</span>
                </div>

                <div class="caractEspec">
                  <span>Familia Del Procesador</span>
                  <span>Intel Core i7</span>
                </div>

              </div>
            </div>
            
        </div>

    </div>
    
  </body>
</html>
