<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <script src="https://kit.fontawesome.com/88b000fcfe.js" crossorigin="anonymous"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Akshar&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
    rel="stylesheet" />
  <link
    href="https://fonts.googleapis.com/css2?family=Akshar&family=Changa:wght@200&family=Encode+Sans+SC:wght@100&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
    rel="stylesheet" />
  <link href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="/css/styles.css" />
  <title>Productos</title>
</head>

<body>
  <!-- Partial de HEADER -->
  <%- include('./partials/header.ejs') %>


    <div class="MainColNopaddRela">
      <div class="colWrapper">
        <div class="imgArticleWrapper">
          <div class="imgArticleCont">
    
            <div class="imgProductCont">
              <img src="images/Notebook_Gamer_AORUS_KD_15.6.jpg" alt="" class="imgProduct">
            </div>
            <div class="imgThumbCarr">
              <!-- aca iria tipo carrusel -->
            </div>
          </div>
    
        </div>
        <div class="prodDescWrapper">
          <div class="prodTitle">
            <h1>Notebook Gamer AORUS KD 15.6" Core I7 11800H 16GB (2x8GB) 512GB SSD NVMe RTX 3060 240Hz W11</h1>
          </div>
          <div class="prodPriceCont">
            <p>$340.000</p>
            <p>Precio especial</p>
          </div>
        </div>
        <div class="buttonSumarCartWrap">
          <div class="buttonSumarCartCont">
            <button id="buttonSumarCart">
              <span class="buttonSumarCartText">
                SUMAR AL CARRITO
              </span>
            </button>
          </div>
        </div>
    
        <div class="especWrapper">
          <div class="especificaciones">
            <p id="espec"> ESPECIFICACIONES</p>
          </div>
        </div>
    
        <div class="caractWrapper">
          <div class="caractCont">
            <p id="caractGeneralTit">CARACTERISTICAS GENERALES</p>
    
            <div class="caractEspec">
              <span>Color</span>
              <span>Gris Oscuro</span>
            </div>
    
            <div class="caractEspec">
              <span>Tipo De Cpu</span>
              <span>Intel</span>
            </div>
    
            <div class="caractEspec">
              <span>Tipo De Gpu</span>
              <span>nVidia GeForce</span>
            </div>
    
            <div class="caractEspec">
              <span>Tipo</span>
              <span>Notebook</span>
            </div>
    
            <div class="caractEspec">
              <span>Bateria Extraible</span>
              <span>No</span>
            </div>
    
            <div class="caractEspec">
              <span>Modelo Cpu</span>
              <span>11800H</span>
            </div>
    
            <div class="caractEspec">
              <span>Modelo Gpu</span>
              <span>RTX 3060</span>
            </div>
    
            <div class="caractEspec">
              <span>Memoria Gpu</span>
              <span>6gb</span>
            </div>
    
            <div class="caractEspec">
              <span>Lector De Huellas</span>
              <span>No</span>
            </div>
    <div class="caractEspec">
      <span>Familia Del Procesador</span>
      <span>Intel Core i7</span>
    </div>
    </div>
        </div>
    
      </div>
    </div>

    <!-- Partial de FOOTER -->

    <%- include('./partials/footer.ejs') %>


</body>



</html>