<!DOCTYPE html>
<html lang="en">

<head>

    <%- include('./partials/links.ejs') %>
        <title>Editar producto</title>
</head>

<body>
    <!-- Partial de HEADER -->
    <%- include('./partials/header.ejs') %>

        <div class="container-edit">

            <div class="estas-editando">
                <h2 class="estas-editanto-texto">Estas editando: </h2>
            </div>

            <div class="formulario-edit">

                <form action="#" method="POST">

                    <div class="formulario-edit-1">

                        <div class="form-edit-name">

                            <label for="name" class="form-label">Nombre de producto</label>
                            <input type="text" name="name" id="name" placeholder="Nombre de producto">

                        </div>

                        <div class="form-edit-name">

                            <label for="price" class="form-label">Precio </label>
                            <input type="text" name="price" id="price" placeholder="Precio de producto">

                        </div>

                        <div class="form-edit-name">

                            <label for="name" class="form-label">Nombre de producto</label>
                            <input type="text" name="bname" id="name" placeholder="Nombre de producto">

                        </div>

                        <div class="form-edit-name">

                            <label for="name" class="form-label">Nombre de producto</label>
                            <input type="text" name="bname" id="name" placeholder="Nombre de producto">

                        </div>

                        <div class="divForms">
                            <button class="j_boton_ingresar" action="submit">Continuar</button>
                        </div>



                    </div>



                </form>

            </div>
        </div>

        <%- include('./partials/script.ejs') %>



</body>

</html>