<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('./partials/links.ejs') %>
        <title>Agregar Producto</title>
</head>

<body>
    <!-- Partial de HEADER -->
    <%- include('./partials/header.ejs') %>
    <div class="cont prod-wrap">
        <div class="row">
        </div>
        <div class="col-12">
          <h2>Publicá tu producto</h2>
        </div>

        <div class="col-12">
          <form action="/product/productAdd" id="agregarProductoFormulario" method="POST" enctype="multipart/form-data">
            <div class="row prod-det">
              <div class="row prod-det">
                <p class="section-div-h1">Publicá aquí tu producto</p>
                <div class="col=12 col-md-6">
                  <label for="name" class="form-label">Nombre del producto</label>
                  <input type="text" id="name" name="name" placeholder="Ej: Notebook HP" class="form-input">
                </div>
                  <p class="flechas" id="errorName" style="display:none">Nombre minimo de 5 caracteres</p>

                <div class="col=12 col-md-6">
                  <label for="GPU" class="form-label">Nombre de la GPU</label>
                  <input type="text" id="gpu" name="gpu" placeholder="Ej: GTX 1060" class="form-input">
                  </div>

                  <div class="col=12 col-md-6">
                    <label for="resolucion" class="form-label">Resolucion</label>
                    <input type="text" id="resolucion" name="resolucion" placeholder="Ej: 1920 x 1080" class="form-input">
                    </div>

                  <div class="col=12 col-md-6">
                    <label for="cpu" class="form-label">CPU</label>
                    <input type="text" id="cpu" name="cpu" placeholder="Ej: Ryzen" class="form-input">
                    </div>
                    
                    <div class="col=12 col-md-6">
                      <label for="ram" class="form-label">Memoria Ram</label>
                      <input type="text" id="ram" name="ram" placeholder="Ej: 8GB" class="form-input">
                    </div>
                    
                    <div class="col=12 col-md-6">
                      <label for="storage" class="form-label">Storage</label>
                      <input type="text" id="storage" name="storage" placeholder="Ej: 1TB" class="form-input">
                    </div>
                    
                    <div class="col=12 col-md-6">
                      <label for="ImagenProducto" class="form-label">Imagen de Producto</label>
                      <input class="form-input" id="imagenProducto" type="file" name="imagenProducto">
                    </div>
                    
                    
                    
                    <div class="col=12 col-md-6">
                      <label for="precio" class="form-label">Precio</label>
                      <input type="text" id="precio" name="precio" placeholder="Ej: $99.99" class="form-input">
                    </div>
                    
                    
                    <div class="divForms">
                      <input type="submit" value="Continuar" class="j_boton_ingresar"></input>
                    </div>
                    </div>
                    </form>
                    </div>
                    </div>
                    
                    <%- include('./partials/script.ejs') %>
                    
                      <!-- Partial de FOOTER -->
                    
                      <%- include('./partials/footer.ejs') %>
                      <script src="/js/ValidationProductAdd.js"></script>
                        </body>
                    
                        </html>
                        