<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <%- include('./partials/links.ejs') %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Registro</title>
</head>

<body>
  <!-- Partial de HEADER -->
  <%- include('./partials/header.ejs') %>

  

    <section>
      <article class="j_formulario">
    
    
        <form action="/users/register" method="POST">

          <div class="divForms-1">
            <h1>Crea tu cuenta aca</h1>
          </div>
          
          <div class="divForms">
            <label for="name">Usuario</label>
            <input class="j_entradas" type="text" name="name" placeholder="Escribi tu usuario aqui" required>
          </div>
    
          <div class="divForms">
            <label for="email">Correo electronico</label>
            <input class="j_entradas" type="text" name="email" placeholder="usuario@ejemplo.com" required>
          </div>
          <!-- <div class="divForms">
            <label for="fecha_nacimiento">Fecha de nacimiento</label>
            <input class="j_entradas" type="date" name="fecha_nacimiento" value="2004-01-01" min="1950-01-01"
              max="2010-01-01" required>
          </div> -->
          <div class="divForms">
            <label for="Contrase単a">Contrase単a</label>
            <input class="j_entradas" type="password" name="password" required>
          </div>
          <div class="divForms">
            <label for="Contrase単a">Confirma tu contrase単a</label>
            <input class="j_entradas" type="pass_confirm" name="pass_confirm" required>
          </div>
    
          <div class="divForms">
            <button class="j_boton_ingresar" action="submit">Continuar</button>
          </div>
      </article>
    
      </form>
    </section>
    
    <%- include('./partials/script.ejs') %>


    <!-- Partial de FOOTER -->

    <%- include('./partials/footer.ejs') %>
</body>

</html>