<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <%- include('./partials/links.ejs') %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Registro</title>
</head>

<body>
  <!-- Partial de HEADER -->
  <%- include('./partials/header.ejs') %>

    <p>Soy el registro</p>

    <!-- Partial de FOOTER -->

    <%- include('./partials/footer.ejs') %>
</body>

</html>